<div class="medium-12 columns content_homepg_section">
  <div class="medium-6 columns">section_01</div>
  <div class="medium-6 columns">section_02</div>
  <h1>StaticPages#homepg</h1>
  <p>Find me in app/views/static_pages/homepg.html.erb</p>
</div>
